In [1]:
print("This is jupyter notebook for book recommender system project.")

This is jupyter notebook for book recommender system project.

In [2]:
import numpy as np
import pandas as pd

In [3]:
# Importing the datasets - Books.csv, Ratings.csv, Users.csv

books = pd.read_csv("./Data/Books.csv")
users = pd.read_csv("./Data/Users.csv")
ratings = pd.read_csv("./Data/Ratings.csv")
print("Data imported successfully!")

/tmp/ipykernel_4351/3935469635.py:3: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  books = pd.read_csv("./Data/Books.csv")

Data imported successfully!

In [4]:
# books.head()
# users.head()
ratings.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [5]:
print(f"Books: {books.shape}")
print(f"Users: {users.shape}")
print(f"Ratings: {ratings.shape}")

Books: (271360, 8)
Users: (278858, 3)
Ratings: (1149780, 3)

In [6]:
# getting missing values information
print("-------------------Books--------------------")
print(books.isnull().sum())     
print("--------------------Users-------------------")
print(users.isnull().sum())
print("------------------Ratings-------------------")
print(ratings.isnull().sum())

-------------------Books--------------------
ISBN                   0
Book-Title             0
Book-Author            2
Year-Of-Publication    0
Publisher              2
Image-URL-S            0
Image-URL-M            0
Image-URL-L            3
dtype: int64
--------------------Users-------------------
User-ID          0
Location         0
Age         110762
dtype: int64
------------------Ratings-------------------
User-ID        0
ISBN           0
Book-Rating    0
dtype: int64

In [7]:
# getting duplicate values information
print("-------------------Books--------------------")
print(books.duplicated().sum())     
print("--------------------Users-------------------")
print(users.duplicated().sum())
print("------------------Ratings-------------------")
print(ratings.duplicated().sum())

-------------------Books--------------------
0
--------------------Users-------------------
0
------------------Ratings-------------------
0

### 1. Popularity based recommendation system.
 - highest avergae rating books to be recommended.
 - minimum 100 people should have rated this book.

In [32]:
# As ISBN is present in Books as well as Ratings data, we can merge these 2 datasets.
ratings_with_name = ratings.merge(books, on='ISBN')
print(f"Merged successfully!: {ratings_with_name.shape}")
ratings_with_name.head()

Merged successfully!: (1031136, 10)

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,276725,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
1,2313,034545104X,5,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
2,6543,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
3,8680,034545104X,5,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
4,10314,034545104X,9,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...

In [33]:
# Assuming 'ratings_with_name' is your DataFrame
ratings_with_name['Book-Rating'] = pd.to_numeric(ratings_with_name['Book-Rating'], errors='coerce')

# Remove rows with invalid values (e.g., non-numeric)
ratings_with_name.dropna(subset=['Book-Rating'], inplace=True)

In [34]:
# Now we need to filter those books on which has been rated by more than 250 people.
# Group by on title not ISBN as 1 book contains more than 1 ISBN number.
num_rating_df = ratings_with_name.groupby('Book-Title').count()['Book-Rating'].reset_index()    # reset_index() converts the series into a df
num_rating_df.rename(columns={'Book-Rating':'num_ratings'},inplace=True)
num_rating_df

                                               Book-Title  num_ratings
0        A Light in the Storm: The Civil War Diary of ...            4
1                                   Always Have Popsicles            1
2                    Apple Magic (The Collector's series)            1
3        Ask Lily (Young Women of Faith: Lily Series, ...            1
4        Beyond IBM: Leadership Marketing and Finance ...            1
...                                                   ...          ...
241066                                      Ã?Â?lpiraten.            2
241067                     Ã?Â?rger mit Produkt X. Roman.            4
241068                                Ã?Â?sterlich leben.            1
241069                              Ã?Â?stlich der Berge.            3
241070                                  Ã?Â?thique en toc            2

[241071 rows x 2 columns]

In [36]:
# Average rating
avg_rating_df = ratings_with_name.groupby('Book-Title')['Book-Rating'].mean().reset_index()    # reset_index() converts the series into a df
avg_rating_df.rename(columns={'Book-Rating':'avg_rating'}, inplace=True)
avg_rating_df

                                               Book-Title  avg_rating
0        A Light in the Storm: The Civil War Diary of ...    2.250000
1                                   Always Have Popsicles    0.000000
2                    Apple Magic (The Collector's series)    0.000000
3        Ask Lily (Young Women of Faith: Lily Series, ...    8.000000
4        Beyond IBM: Leadership Marketing and Finance ...    0.000000
...                                                   ...         ...
241066                                      Ã?Â?lpiraten.    0.000000
241067                     Ã?Â?rger mit Produkt X. Roman.    5.250000
241068                                Ã?Â?sterlich leben.    7.000000
241069                              Ã?Â?stlich der Berge.    2.666667
241070                                  Ã?Â?thique en toc    4.000000

[241071 rows x 2 columns]

In [37]:
popular_df = num_rating_df.merge(avg_rating_df,
                                 on = 'Book-Title'
                                 )
popular_df

,Book-Title,num_ratings,avg_rating
0,A Light in the Storm: The Civil War Diary of ...,4,2.250000
1,Always Have Popsicles,1,0.000000
2,Apple Magic (The Collector's series),1,0.000000
3,"Ask Lily (Young Women of Faith: Lily Series, ...",1,8.000000
4,Beyond IBM: Leadership Marketing and Finance ...,1,0.000000
...,...,...,...
241066,Ã?Â?lpiraten.,2,0.000000
241067,Ã?Â?rger mit Produkt X. Roman.,4,5.250000
241068,Ã?Â?sterlich leben.,1,7.000000
241069,Ã?Â?stlich der Berge.,3,2.666667
241070,Ã?Â?thique en toc,2,4.000000

So, till now we have list of books with number of ratings for it and average rating of each book.
- We need to choose only thoe books which have number of ratings more than 100.
- Then we will recommend book on the basis of avg_rating.

In [42]:
popular_df = popular_df[popular_df['num_ratings']>=100].sort_values('avg_rating', ascending=False).head(50)

In [46]:
popular_df

,Book-Title,num_ratings,avg_rating
80434,Harry Potter and the Prisoner of Azkaban (Book 3),428,5.852804
80422,Harry Potter and the Goblet of Fire (Book 4),387,5.824289
195672,The Little Prince,141,5.815603
80441,Harry Potter and the Sorcerer's Stone (Book 1),278,5.737410
80426,Harry Potter and the Order of the Phoenix (Boo...,347,5.501441
60582,Ender's Game (Ender Wiggins Saga (Paperback)),249,5.409639
80414,Harry Potter and the Chamber of Secrets (Book 2),556,5.183453
201970,The Perks of Being a Wallflower,104,5.144231
191612,The Hobbit : The Enchanting Prelude to The Lor...,281,5.007117
187377,The Fellowship of the Ring (The Lord of the Ri...,368,4.948370
189274,The Giver (21st Century Reference),179,4.916201
94259,Ishmael: An Adventure of the Mind and Spirit,162,4.907407
93175,Interpreter of Maladies,136,4.897059
80445,Harry Potter and the Sorcerer's Stone (Harry P...,575,4.895652
211384,"The Two Towers (The Lord of the Rings, Part 2)",260,4.880769
14859,Anne Frank: The Diary of a Young Girl,142,4.852113
33657,Charlotte's Web (Trophy Newbery),129,4.782946
200913,The Other Boleyn Girl,159,4.761006
219741,To Kill a Mockingbird,510,4.700000
183573,The Da Vinci Code,898,4.642539
168201,Stranger in a Strange Land (Remembering Tomorrow),130,4.615385
56135,Dune (Remembering Tomorrow),146,4.609589
66121,Fight Club,102,4.607843
194591,The Last Juror,117,4.564103
160107,Siddhartha,172,4.563953
187880,The Five People You Meet in Heaven,430,4.551163
7742,A Wrinkle In Time,158,4.550633
180556,The Catcher in the Rye,449,4.545657
208578,The Stand: Complete and Uncut,131,4.534351
55838,Drums of Autumn,101,4.514851
204672,"The Return of the King (The Lord of the Rings,...",211,4.497630
17460,Atlas Shrugged,138,4.485507
55014,Dragonfly in Amber,151,4.476821
196326,The Lovely Bones: A Novel,1295,4.468726
190081,The Great Gatsby,205,4.458537
764,1984,284,4.454225
144165,Prodigal Summer: A Novel,253,4.450593
128670,Neverwhere,265,4.449057
56974,East of Eden (Oprah's Book Club),134,4.447761
206502,The Secret Life of Bees,774,4.447028
207236,The Shining,135,4.437037
90399,Illusions: The Adventures of a Reluctant Messiah,101,4.425743
202035,The Phantom Tollbooth,125,4.416000
1607,84 Charing Cross Road,125,4.416000
78440,Guilty Pleasures (Anita Blake Vampire Hunter (...,129,4.387597
216873,Their Eyes Were Watching God: A Novel,100,4.370000
212024,The Valley of Horses,132,4.363636
168719,Stupid White Men ...and Other Sorry Excuses fo...,283,4.356890
223135,"Tuesdays with Morrie: An Old Man, a Young Man,...",493,4.354970
133501,On Writing,137,4.350365

In [49]:
# Now we need image and author's name of these books.
popular_df = popular_df.merge(books,
                 on = 'Book-Title'
                 ).drop_duplicates('Book-Title')[['Book-Title', 'Book-Author', 'Year-Of-Publication', 'Image-URL-M', 'num_ratings', 'avg_rating']]

In [50]:
popular_df

,Book-Title,Book-Author,Year-Of-Publication,Image-URL-M,num_ratings,avg_rating
0,Harry Potter and the Prisoner of Azkaban (Book 3),J. K. Rowling,1999,http://images.amazon.com/images/P/0439136350.0...,428,5.852804
3,Harry Potter and the Goblet of Fire (Book 4),J. K. Rowling,2000,http://images.amazon.com/images/P/0439139597.0...,387,5.824289
5,The Little Prince,Antoine de Saint-ExupÃ©ry,1968,http://images.amazon.com/images/P/0156528207.0...,141,5.815603
10,Harry Potter and the Sorcerer's Stone (Book 1),J. K. Rowling,1998,http://images.amazon.com/images/P/0590353403.0...,278,5.737410
14,Harry Potter and the Order of the Phoenix (Boo...,J. K. Rowling,2003,http://images.amazon.com/images/P/043935806X.0...,347,5.501441
18,Ender's Game (Ender Wiggins Saga (Paperback)),Orson Scott Card,1992,http://images.amazon.com/images/P/0312853238.0...,249,5.409639
22,Harry Potter and the Chamber of Secrets (Book 2),J. K. Rowling,2000,http://images.amazon.com/images/P/0439064872.0...,556,5.183453
25,The Perks of Being a Wallflower,Stephen Chbosky,1999,http://images.amazon.com/images/P/0671027344.0...,104,5.144231
27,The Hobbit : The Enchanting Prelude to The Lor...,J.R.R. TOLKIEN,1986,http://images.amazon.com/images/P/0345339681.0...,281,5.007117
28,The Fellowship of the Ring (The Lord of the Ri...,J.R.R. TOLKIEN,1986,http://images.amazon.com/images/P/0345339703.0...,368,4.948370
37,The Giver (21st Century Reference),LOIS LOWRY,1994,http://images.amazon.com/images/P/0440219078.0...,179,4.916201
39,Ishmael: An Adventure of the Mind and Spirit,Daniel Quinn,1995,http://images.amazon.com/images/P/0553375407.0...,162,4.907407
40,Interpreter of Maladies,Jhumpa Lahiri,1999,http://images.amazon.com/images/P/039592720X.0...,136,4.897059
43,Harry Potter and the Sorcerer's Stone (Harry P...,J. K. Rowling,1999,http://images.amazon.com/images/P/059035342X.0...,575,4.895652
45,"The Two Towers (The Lord of the Rings, Part 2)",J.R.R. TOLKIEN,1986,http://images.amazon.com/images/P/0345339711.0...,260,4.880769
56,Anne Frank: The Diary of a Young Girl,ANNE FRANK,1993,http://images.amazon.com/images/P/0553296981.0...,142,4.852113
60,Charlotte's Web (Trophy Newbery),E. B. White,1974,http://images.amazon.com/images/P/0064400557.0...,129,4.782946
61,The Other Boleyn Girl,Philippa Gregory,2002,http://images.amazon.com/images/P/0743227441.0...,159,4.761006
63,To Kill a Mockingbird,Harper Lee,1988,http://images.amazon.com/images/P/0446310786.0...,510,4.700000
71,The Da Vinci Code,Dan Brown,2003,http://images.amazon.com/images/P/0385504209.0...,898,4.642539
77,Stranger in a Strange Land (Remembering Tomorrow),Robert A. Heinlein,1995,http://images.amazon.com/images/P/0441790348.0...,130,4.615385
78,Dune (Remembering Tomorrow),Frank Herbert,1996,http://images.amazon.com/images/P/0441172717.0...,146,4.609589
79,Fight Club,Chuck Palahniuk,1999,http://images.amazon.com/images/P/0805062971.0...,102,4.607843
83,The Last Juror,John Grisham,2004,http://images.amazon.com/images/P/0385510438.0...,117,4.564103
87,Siddhartha,Hermann Hesse,1981,http://images.amazon.com/images/P/0553208845.0...,172,4.563953
95,The Five People You Meet in Heaven,Mitch Albom,2003,http://images.amazon.com/images/P/0786868716.0...,430,4.551163
97,A Wrinkle In Time,MADELEINE L'ENGLE,1998,http://images.amazon.com/images/P/0440498058.0...,158,4.550633
98,The Catcher in the Rye,J.D. Salinger,1991,http://images.amazon.com/images/P/0316769487.0...,449,4.545657
105,The Stand: Complete and Uncut,Stephen King,1991,http://images.amazon.com/images/P/0451169530.0...,131,4.534351
106,Drums of Autumn,DIANA GABALDON,1997,http://images.amazon.com/images/P/044022425X.0...,101,4.514851
110,"The Return of the King (The Lord of the Rings,...",J.R.R. TOLKIEN,1986,http://images.amazon.com/images/P/0345339738.0...,211,4.497630
120,Atlas Shrugged,Ayn Rand,1996,http://images.amazon.com/images/P/0451191145.0...,138,4.485507
125,Dragonfly in Amber,DIANA GABALDON,1993,http://images.amazon.com/images/P/0440215625.0...,151,4.476821
128,The Lovely Bones: A Novel,Alice Sebold,2002,http://images.amazon.com/images/P/0316666343.0...,1295,4.468726
129,The Great Gatsby,F. Scott Fitzgerald,1999,http://images.amazon.com/images/P/185326041X.0...,205,4.458537
131,1984,George Orwell,1990,http://images.amazon.com/images/P/0451524934.0...,284,4.454225
140,Prodigal Summer: A Novel,Barbara Kingsolver,2001,http://images.amazon.com/images/P/0060959037.0...,253,4.450593
141,Neverwhere,Neil Gaiman,1998,http://images.amazon.com/images/P/0380789019.0...,265,4.449057
146,East of Eden (Oprah's Book Club),John Steinbeck,2003,http://images.amazon.com/images/P/0142004235.0...,134,4.447761
148,The Secret Life of Bees,Sue Monk Kidd,2003,http://images.amazon.com/images/P/0142001740.0...,774,4.447028
154,The Shining,Stephen King,2001,http://images.amazon.com/images/P/0743424425.0...,135,4.437037
160,Illusions: The Adventures of a Reluctant Messiah,Richard Bach,1994,http://images.amazon.com/images/P/0440204887.0...,101,4.425743
163,The Phantom Tollbooth,Norton Juster,1993,http://images.amazon.com/images/P/0394820371.0...,125,4.416000
166,84 Charing Cross Road,Helene Hanff,0,http://images.amazon.com/images/P/0860074382.0...,125,4.416000
169,Guilty Pleasures (Anita Blake Vampire Hunter (...,Laurell K. Hamilton,1995,http://images.amazon.com/images/P/0441304834.0...,129,4.387597
172,Their Eyes Were Watching God: A Novel,Zora Neale Hurston,1990,http://images.amazon.com/images/P/0060916508.0...,100,4.370000
173,The Valley of Horses,JEAN M. AUEL,1984,http://images.amazon.com/images/P/0553250531.0...,132,4.363636
175,Stupid White Men ...and Other Sorry Excuses fo...,Michael Moore,2002,http://images.amazon.com/images/P/0060392452.0...,283,4.356890
176,"Tuesdays with Morrie: An Old Man, a Young Man,...",MITCH ALBOM,1997,http://images.amazon.com/images/P/0385484518.0...,493,4.354970
179,On Writing,Stephen King,2000,http://images.amazon.com/images/P/0684853523.0...,137,4.350365

In [51]:
users.head()

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

### 2. Collaborative Filtering Recommendation System
- users who have rated on more than 200 books. (Highly intellectual readers)
- the books which are rated by more than 50 users. (Good number of ratings should be there)

In [62]:
x = ratings_with_name.groupby('User-ID').count()['Book-Rating'] > 200
padhe_like_users = x[x].index   # x[x] is boolean indexing

In [63]:
filtered_rating = ratings_with_name[ratings_with_name['User-ID'].isin(padhe_like_users)]

In [64]:
y = filtered_rating.groupby('Book-Title').count()['Book-Rating'] > 50
famous_books = y[y].index

In [66]:
final_ratings = filtered_rating[filtered_rating['Book-Title'].isin(famous_books)]

In [69]:
# check for final ratings
final_ratings.drop_duplicates()

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
63,278418,0446520802,0,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...
65,3363,0446520802,0,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...
66,7158,0446520802,10,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...
69,11676,0446520802,10,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...
74,23768,0446520802,6,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...
...,...,...,...,...,...,...,...,...,...,...
1026724,266865,0531001725,10,The Catcher in the Rye,Jerome David Salinger,1973,Scholastic Library Pub,http://images.amazon.com/images/P/0531001725.0...,http://images.amazon.com/images/P/0531001725.0...,http://images.amazon.com/images/P/0531001725.0...
1027923,269566,0670809381,0,Echoes,Maeve Binchy,1986,Penguin USA,http://images.amazon.com/images/P/0670809381.0...,http://images.amazon.com/images/P/0670809381.0...,http://images.amazon.com/images/P/0670809381.0...
1028777,271284,0440910927,0,The Rainmaker,John Grisham,1995,Island,http://images.amazon.com/images/P/0440910927.0...,http://images.amazon.com/images/P/0440910927.0...,http://images.amazon.com/images/P/0440910927.0...
1029070,271705,B0001PIOX4,0,Fahrenheit 451,Ray Bradbury,1993,Simon &amp; Schuster,http://images.amazon.com/images/P/B0001PIOX4.0...,http://images.amazon.com/images/P/B0001PIOX4.0...,http://images.amazon.com/images/P/B0001PIOX4.0...
1030868,275970,1586210661,9,Me Talk Pretty One Day,David Sedaris,2001,Time Warner Audio Major,http://images.amazon.com/images/P/1586210661.0...,http://images.amazon.com/images/P/1586210661.0...,http://images.amazon.com/images/P/1586210661.0...

In [73]:
# Pivoting now
pt = final_ratings.pivot_table(index='Book-Title',
                          columns='User-ID',
                          values='Book-Rating'
                          )

In [74]:
pt.fillna(0,
          inplace=True)

In [75]:
pt

User-ID,254,2276,2766,2977,3363,4017,4385,6251,6323,6543,...,271705,273979,274004,274061,274301,274308,275970,277427,277639,278418
Book-Title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1st to Die: A Novel,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2nd Chance,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4 Blondes,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A Bend in the Road,0.0,0.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Year of Wonders,0.0,0.0,0.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
You Belong To Me,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zoya,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"\O\"" Is for Outlaw""",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0